

 <h1>Edit Room</h1><br>
 <% if(alert.msg) { %>
     <%= alert.msg %>
 <% } %>
 <form action="/room/edit/<%= data.id%>" method="POST">
     <div class="form-group">
       <label for="exampleFormControlInput1">Name</label>
       <input type="text" class="form-control" name="name" placeholder="Room Name" value="<%= data.name%>">
     </div>
     <div class="form-group">
         <label for="exampleFormControlInput1">Capacity</label>
         <input type="text" class="form-control" name="capacity" placeholder="Room Capacity" value="<%= data.capacity%>">
     </div>
     <div class="form-group">
         <button class="btn btn-primary" type="submit">Submit</button>
         <a class="btn btn-danger" href="/room" role="button">Cancel</a>
     </div>
   </form>