<%- include('partials/header')  %>

<h1>Ini Daftar Rooms/h1><br>
    
    <% if (data) { %>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Capacity</th>
              </tr>
            </thead>
            <% for (let i = 0;i<data.length; i++) { %>
                <tbody>
                  <tr>
                    <td><%= data[i].namee %></td>
                    <td><%= data[i].capacity%></td>
                  </tr>
                </tbody>
            <% } %>
          </table>
    <% } %>

<%- include('partials/footer')  %>