<%- include('partials/header')  %>

<br><br>
<div class="text-center">
    <img src="/images/<%=data.path%>" alt="Photo" srcset="" class="center" />

</div>
<br><br>




<%- include('partials/footer')  %>